.wrapper {
  background-position: center;
  width: 400px;
  height: 500px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

output {
  width: 300px;
  height: 100px;
  display: block;
  background-color: orange;
}

button {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
}

.one {
  display: flex;
  flex-wrap: wrap;
}

.two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.a1,
.b1,
.b2 {
  width: 100px;
  height: 100px;
}

.a2 {
  width: 300px;
  height: 100px;
}

.b4 > button,
.c4 > button,
.d4 > button,
.e4 > button {
  background-color: #c0f7a0;
  color: black;
}
